/*global styling
-----------------------------------------------------*/
body{
	text-align: center;
	background-color: #fdf0cb;
	margin: 0 ;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5{
	margin: 0;
}
h2,h3,h4{
	padding: 20px;
}
h1{
	font-family: 'Amatic SC', cursive;
	font-size: 100px;
	letter-spacing: 5px;
	color: #fcfcfc;
	padding: 10px;
}
h2{
	color: #85332e;
	font-size: 30px;
	padding: 50px 0 ;
}
h4{
	font-weight: 600;
}
.align-content{
	max-width: 100vw;
	margin: 0 auto;
	width: 80%;
	padding: 10px;

}
.grid{
	display: inline-grid;
	grid-template-columns: 1fr 2fr ;
	grid-template-rows: auto;
	grid-column-gap: 10px;
	grid-row-gap: 50px;
}

.grid-item{
	padding: 10px;
}
.grid p{
	margin: 0;
	line-height: 1.5;
}

/* navbar styling
-----------------------------------------------------*/
nav{
	background-color: #85332e ;
}


/*about styling
-----------------------------------------------------*/
.about{
	background-color: #85332e;
	color: #fcfcfc;
}

#img{
	display: block;
	padding: 30px 0;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin: 0 auto;
	/* transform: rotate(-15deg); */
}
#img:hover{
	height: 250px;
	width: 250px;
}
.about p{
	font-size: 20px;
}


/*skills styling
-----------------------------------------------------*/
.skills{
}

.skills ul{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
}
.skills li{
	background-color:#85332e ;
	color: #fcfcfc;
	font-size: 20px;
	padding: 20px;
	margin: 10px;
	border-radius: 5%;
	width: 100px;
}


/*projects styling
-----------------------------------------------------*/



/*experience styling
-----------------------------------------------------*/


/*certifications styling
-----------------------------------------------------*/
.certifications a {
	color: #232424;
	text-decoration: none;
}


/*education styling
-----------------------------------------------------*/
/*.education{
	background-image: url("../images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg");
	background-repeat: no-repeat;
	object-fit: cover;
}*/


/*contact styling
-----------------------------------------------------*/
footer{
	background-color: #85332e;
	padding-bottom: 10px;
}
footer h2{
	color: #fcfcfc;
	margin-bottom: 10px;

}
footer a{
	display: block;
	 color: #fcfcfc;
	 text-decoration: none;
	 font-size: 25px;
	 margin-bottom: 10px 0;
}
footer a:hover{
	text-shadow: whitesmoke 1px 1px 1px;
}


/*responsive styling
-----------------------------------------------------*/
