/*global styling
-----------------------------------------------------*/
body{
	text-align: center;
	background-color: #fcfcfc;
	margin: 0 ;
	max-width: 100vw; 
	font-family: 'Open Sans', sans-serif;
	color: #0c0c0c;
}
h1,h2,h3,h4,h5{
	margin: 0;
}
h2,h3,h4{
	padding: 20px;
}
h1{
	font-family: 'Amatic SC', cursive;
	font-size: 100px;
	letter-spacing: 5px;
	color: #fcfcfc;
	padding: 10px;
}
h2{
	font-family: 'Amatic SC', cursive;
	font-weight: bolder;
	font-size: 50px;
	padding: 10px 0 ;
	border-bottom: #e4e3e3 solid 1px ;
}
h3{
	margin: 10px auto;
}
h4{
	font-weight: 600;
}
section{
	padding: 10px;
}
.align-content{
	margin: 0 auto;
	text-align: center;
	max-width: 70%;
	padding: 10px ;

}

/* navbar styling
-----------------------------------------------------*/
nav{
	background-color: #0c0c0c ;
}

/*about styling
-----------------------------------------------------*/
.about{
	background-color: #0c0c0c;
	color: #fcfcfc;
}

#img{
	display: block;
	padding: 30px 0;
	height: 200px;
	border-radius: 50%;
	margin: 0 auto;
}
.about p{
	font-size: 20px;
}


/*skills styling
-----------------------------------------------------*/
.skills ul{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding-top: 50px;
	padding-inline-start: 0;
}
.skills li{
	flex: none;
	min-width: 100px;
	background-color:#fcfcfc ;
	color: #0c0c0c;
	font-size: 20px;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	border: #0c0c0c solid;
}
.skills li:hover{
	background-color: #0c0c0c;
	color: #fcfcfc;

}

/*projects styling
-----------------------------------------------------*/
.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 50px;
	flex-basis: content;
}
.card{
	background-color: #ffffffe5;
	min-width: 200px;
	max-width: 300px;
	border: #4e4e4e 1.5px solid;
	border-radius: 7px;
	margin: 20px;
	padding: 10px;	
}
.card:hover{
	transform: scale(1.05);
	transition-duration: 1s;
	box-shadow: 0px 0px 10px 3px #d4d1d1;
}

/*experience styling
-----------------------------------------------------*/
.grid{
	display: inline-grid;
	grid-template-columns: 1fr 2fr ;
	grid-template-rows: auto;
	grid-column-gap: 10px;
	grid-row-gap: 50px;
	margin:  auto;
	padding-top: 50px;	
}

.grid-item{
	padding: 10px;
}
.grid p{
	margin: 0;
	line-height: 1.5;
	text-align: justify;
}

/*certifications styling
-----------------------------------------------------*/
.certificates-flexbox{
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: top;
	padding-top: 50px;
}
figure{
	border: #4e4e4e 1px solid;
}
figure img{
	max-width: 400px;
	height: 300px;
}

/*education styling
-----------------------------------------------------*/
.flexbox{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	padding-top: 50px;
}
.flexbox div{
	border-bottom: #a7a4a4 solid 1px;
	padding-bottom: 10px;

}
.flexbox div:last-of-type{
	border: none;
}


/*contact styling
-----------------------------------------------------*/
footer{
	margin-top: 20px;
	background-color: #0c0c0c;
}
footer a{
	display: inline-block;
	 color: #fcfcfc;
	 text-decoration: none;
	 font-size: 40px;
	 margin:  50px 10px;
}
footer a:hover{
	text-shadow: whitesmoke 1px 1px 1px;
}


/*responsive styling
-----------------------------------------------------*/
@media (max-width: 600px){
	.about p {
		font-size: 15px;
	}

}
@media (max-width: 1110px){
	.certificates-flexbox{
		overflow-x: scroll;
	}
}

